<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:fragment="content">
    <h1>Edit User</h1>
    <form action="/crm/editsave" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}"/>
        First Name:
        <input type="text" th:field="*{firstName}"/>
        <br/>
        Last Name:
        <input type="text" th:field="*{lastName}"/>
        <br/>
        <input type="submit" value="Create"/>
    </form>
</div>
</body>
</html>