<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:fragment="content" id="login-box">
    <div class="left">
        <h6>Add user</h6>
        <form action="/crm/user/" th:object="${user}" method="post">
            <input type="text" th:field="*{firstName}" placeholder="first name"/>
            <input type="text" th:field="*{lastName}" placeholder="last name"/>
            <input type="submit" name="signup_submit" value="Save"/>
        </form>
    </div>
    <div class="right">
        <span class="loginwith">Sign in with<br/>social network</span>
         <a th:href="@{/vkapp}" class="btn btn-success">Log in with vk</a>
    </div>
    <div class="or">OR</div>
</div>
</body>
</html>