<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:fragment="content">
<h1>Add new User</h1>
<form  th:action="@{user}" th:object="${user}" method="post">
    First Name:
    <input type="text" th:field="*{firstName}"/>
    <br/>
    Last Name:
    <input type="text" th:field="*{lastName}"/>
    <br/>
    <input type="submit" value="Create"/>
</form>
</div>
</body>
</html>